body {
  width: 900px;
  margin: 20px auto; /*←上下マージン20px、左右はautoでセンター合わせに*/
}
header,
nav,
article,
aside,
section,
footer {
  display: block; /*←新要素はデフォルトではinline要素なのでこの指定が必要。*/
}
header,
nav,
article,
aside,
section,
footer {
  border: 1px solid #ccc; /*←各ブロックに枠線をつけてわかりやすくしました。*/
  margin: 0px 0px 10px;
  padding: 20px;
}
header {
  text-align: center;
}
nav {
  text-align: center;
  padding: 5px;
}
nav ul,
nav li {
  list-style-type: none;
  display: inline; /*←display:inlineでli要素を横並びに。*/
  padding: 0px 10px;
}
nav h1 {
  display: none; /*←display:noneで非表示にする。CSSが無効の時は見える。*/
}
article {
  float: left; /*←article（メインブロック）はfloat:leftで左寄せに。*/
  width: 620px;
}
aside {
  float: right; /*←aside（サイドバー）はfloat:rightで右寄せに。*/
  width: 180px;
}
footer {
  clear: both; /*←articleとasideのfloatを、これでクリア。*/
  text-align: center;
  padding: 5px;
  font-size: 80%;
}

/*検索*/
.search_container{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 260px;
  overflow: hidden;
}
.search_container input[type="text"]{
  border: none;
  height: 2.0em;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879D9;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -10px;
  outline : none;
}
